:root {
  --color-light-pink: #fde9ee;
  --color-pink: #f5c7e7;
  --color-barbie: #f0b2fe;
  --color-blue: #b3d2e6;
  --color-light-grey: #cccccc;
  --color-dark-grey: #adadad;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
  height: 100%;
  background-color: var(--color-light-pink);
  line-height: 1.8;
}

.logoimg {
  background-image: url('images/logo-final-cropped.jpg');
  min-height: 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 60px;
}

.nav-button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  padding: 8px;
  border-radius: 8px;
}
.nav-button:hover {
  background-color: var(--color-light-grey) !important;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 100px;
  }
} */

.faq-item {
  background-color: var(--color-pink);
}

.faq-q {
  font-weight: bold;
  /* text-align: center; */
  
}

.faq-a {
  font-weight: initial;
  /* background-color: #ffd8f1; */
  margin-inline: 5%;
}